* {
    box-sizing: border-box;
}
body {

    background-color: #c9f0f2;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
}

main {
    width: 1150px;
    height: 550px;
}

#timer {
  position: absolute;
  left: 250px;
  top: 80px;
  font-size: 25px;
 
}

.lives {
  position: absolute;
  right: 250px;
  top: 100px;
  font-size: 25px;
    

}
#round {
    font-size: 30px;
    padding: 5px;
    margin-top: -10px;
}

/* .script {
 background-color: azure;
 position: relative;
 bottom: 100px;
 height: 200px;
 width: 700px;
 
} */

.citybg {
    
    position: absolute;
    margin: 0 auto;
    z-index: -2;
    height: 700px;
    width: 1200px;
    top: 0;
    left: 200px;
}

.store {
position: relative;
z-index: -1;
height: 400px;
width: 500px;
left: 510px;
bottom: 25px;
} 

#street {
position: absolute;
height: 110px;
width:1200px;
margin: 0 auto;
z-index: -1;
bottom: 68px;
left: 200px;
background-color: rgba(105,108,116,1);
}

#bearimg {
     position: relative;
     width: 90px;
     height: 90px;
     z-index: 1;
}

.bear {
  
    width: 170px;
    height: 170px;
    
}

