* {
    box-sizing: border-box;
    margin: 0 auto;
   
}
body {
    position: relative;
    background-color: #c9f0f2;
    font-family: 'Press Start 2P', cursive;
    margin: 0 auto;
    text-align: center;
}

main {
    position: relative;
    right: auto;
    left: auto;
    width: 1280px;
    height: 550px;
    top: 200px;
    text-align: center;
    /* background-color: darkred; */
}


h1 {
    position: relative;
    width: 700px;
    left: auto;
    margin-top: 15px;
    margin-bottom: -60px;
    font-size: 50px;
    color: #f79d43;
    
    
    
}

button {

    position: relative;
    font-size: 20px;
    padding: 15px;
    z-index: 1;
    left: auto;
    top: -400px;
    color:#fff098;
    font-family: 'Press Start 2P', cursive;
    background-color: orange;
    border: 2px solid #d3771b;
    border-radius: 25px;
    

}
#start {
    position: relative;
    left: auto;
    right:auto;
    top: -150px;
  
}

#restart {
    position: relative;
    top: 500px;
    left: auto
}


.gameboard {
    position: relative;
    top: 150px;
    left: auto;
    height: 500px;
    width: 1275px;
}

.citybg {
    
    position: relative;
    z-index: -2;
    height: 780px;
    width: 1280px;
    top: -315px;
    left: auto;
}

#sanitizerdiv {
    position: absolute;
    top: 260px;
    left: 600px;
}

.handsani {
    position: relative;
    left: -130px;
    top: 30px;
    height: 250px;
    width: 350px;

}

#timer {
  position: relative;
  left: -490px;
  top: -105px;
  font-size: 25px;
  color: #dbfffa;
 
}

.lives {
  position: relative;;
  right: -500px;
  top: -185px;
  font-size: 25px;
  color: #dbfffa;
    

}
#round {
    position: absolute;
    font-size: 35px;
    color: #dbfffa;
    margin-top: -160px;
    top: 200px;
    left: 550px;
    width: 500px;
    
}

#win {
    position: relative;
    font-size: 60px;
    top: 200px;
    z-index: 2;
    color: #202ffd;
}

#lose {
    position: relative;
    font-size: 30px;
    color: white;
    left: auto;
    top: 400px;
    margin-top: -100px;
    margin-bottom: -300px ;
    width: 700px;
}
.script {
 background-color:rgba(119, 147, 187, 0.67);
 position: relative;
 bottom: 100px;
 height: 500px;
 width: 700px;
 
}

.store {
    position: absolute;
    z-index: -1;
    height: 400px;
    width: 500px;
    left: 670px;
    bottom: -125px;
} 

#streetlines {
    position: absolute;
    letter-spacing: 20px;
    top: 560px;
    right: -5px;
    width: 1280px;
    border-bottom: 8px dashed white;
    z-index: 3;
}

#street {
    position: absolute;
    height: 110px;
    width:1280px;
    margin: 0 auto;
    z-index: -1;
    bottom: -125px;
    left: 0px;
    background-color: rgba(105,108,116,1);
}

.script {
    color:rgb(255, 255, 255);
    position: relative;
    width: 1000px;
    bottom: 300px;
    left: auto;
}


 p {
     padding: 50px;
 }

#bearimg {
     position: absolute;
     width: 90px;
     height: 90px;
     z-index: 1;
}

.bear {
    position: absolute;
    width: 170px;
    height: 170px;
    
}

.mask {
    position: absolute;
    top: 34px;
    left: 55px;
    width: 150px;
    height: 150px;
    opacity: 0;
}

.masknewstyle {
    margin: 0 auto;
    position: absolute;
    top: 16px;
    left: 50px;
    width: 70px;
    height: 70px;
    opacity: 0;

}
